<!-- templates/index.html -->
<!DOCTYPE html>
<html>
	<head>
		<title>Scaffolding</title>
		<script src="https://unpkg.com/cytoscape@3.24.0/dist/cytoscape.min.js"></script>
		<link rel="stylesheet" href ="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<div id="cy-wrapper" style="position: relative; width: 100%; height: 100%;">
			{% include 'label_input_box.html' %}
			{% include 'toolbar.html' %}
			{% include 'cy_canvas.html' %}	
		</div>
		<script type="module" src="{{ url_for('static', filename='js/ContextMapCanvas.js') }}"></script>

	</body>
</html>
