<div id="labelInputBox" style="
	position: absolute;
	display: none;
	background: white;
	border: 1px solid #ccc;
	padding: 6px;
	z-index: 10;
	box-shadow: 0 2px 6px rgba(0,0,0,0.2);">

	<input type="text" id="labelInputText" placeholder="Enter Label" />
	<button id="labelInputSubmit">OK</button>
</div>

<div id="nodeOptionsBox" style="
	flex-direction: column;
	gap: 2px;
	position: absolute;
	display: none;
	z-index: 9;">

	<button id="nodeOptionDelete">X</button>
	<button id="nodeOptionEdit">E</button>
</div>
