# Core dependencies
openai
openai-agents

# PDF parsing
pdfplumber
PyPDF2

# Web-Application & Contex Map parsing 
Flask

# Graph visualization
networkx
matplotlib
graphviz

# CLI
click

# Utilities
numpy
pandas
