# Core dependencies
openai
openai-agents
python-dotenv

# PDF parsing
pdfplumber
PyPDF2

# Graph visualization
networkx
matplotlib
graphviz

# CLI
click

# Utilities
numpy
pandas

# Web Application
streamlit
st-conceptmap-cs >= 1.0.2.1

# Database connection
dnspython
bcrypt
pymongo
